<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270893982852-6p4lvpo1oim4a11pt39mstq5t65066jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270893982852-6p4lvpo1oim4a11pt39mstq5t65066jg</string>
	<key>API_KEY</key>
	<string>AIzaSyA3mvBtJVOjqbeYtoSD7GzHObpPacFP2Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>270893982852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivtsygankov.pilgrim</string>
	<key>PROJECT_ID</key>
	<string>piligrim-54f61</string>
	<key>STORAGE_BUCKET</key>
	<string>piligrim-54f61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270893982852:ios:bed1528ae58f1488f74ed1</string>
	<key>DATABASE_URL</key>
	<string>https://piligrim-54f61.firebaseio.com</string>
</dict>
</plist>